$azul: #0571e6;
$verde: #009700;
$menta: #4ad682;

$background: #f9f9f9;
$branco: #f2f2f2;
$neutro-claro: #f8f8f8;
$neutro: #e2e2e2;
$neutro-escuro: #c9c9c9;

$cinza-claro: #d8d8d8;
$cinza-neutro: #e2e2e2;
$cinza-escuro: #5e5e5e;
