@import "../../styles/colors.scss";

.button {
    background-color: $azul;
    padding: 14px 20px;
    color: #fff;
    font-weight: bold;
    border-radius: 7px;
    transition: all ease-in-out 0.2s;
    font-size: 14px;

    .icon {
        color: #fff;
        margin-left: 5px;
    }

    &:hover {
        filter: brightness(1.1);
    }

    &.azul {
        background-color: $azul;
    }

    &.verde {
        background-color: $verde;
    }

    &.menta {
        background-color: $menta;
    }
}
